- # app/views/colors/index.html.haml

= form_tag '/pop', :method => :delete, :id => 'pop_form' do |form|
  %p
    = submit_tag 'Start',  :id => 'start_button'
    = button_tag 'Cancel', :id => 'cancel_button'
    = link_to 'About This Page', about_path
